body {
    color: #434455;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span {
    color: #2e2f42;
}

.studio .link {
    color:#2e2f42
}

.header-ul {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#404bbf    
}

.header-ul .link:hover,
.header-ul .link:focus {
    color: #404bbf;
}

.adress {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.adress:hover,
.adress:focus {
    color: #404bbf
}

address {
    font-style: normal;
}

.first {
    background-color: #2e2f42;
}

.first-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:#ffffff;    
}

.first-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#ffffff
}

.first-button:hover,
.first-button:focus {
    background-color: #404bbf;cursor: pointer;
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42
}

.second-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.third {
    background-color: #f4f4fd;
}

.third-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42
}

.third-list {
    background-color: #ffffff;
}

.third-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
}

.span-footer {
    color: #f4f4fd;

}

.footer-text {
    line-height: 1.5;
    color:#f4f4fd;
    letter-spacing: 0.02em;
}

.fourth-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42
}

.fourth-subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42
}

.fourth-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455
}